body {
    text-align: center;
}

#myBar {
    width: 10%;
    height: 30px;
    background-color: #4CAF50;
    text-align: center;
    /* To center it horizontally (if you want) */
    line-height: 30px;
    /* To center it vertically */
    color: white;
}

#myProgress {
    width: 100%;
    background-color: grey;
}

.game-area {
    font-size: 30px;
}

.curr-element {
    background: #4CAF50;
}

.compl-element {
    background: red;
}

progress {
    border: 1px solid silver;
    height: 20px;
    border-radius: 10px;
    background: #f1f1f1;
    width: 400px;
}

progress::-webkit-progress-bar {
    border-radius: 10px;
    background: #f1f1f1;
}

progress::-webkit-progress-value {
    border-radius: 10px;
    background: #f55757;
}

progress::-moz-progress-bar {
    border-radius: 5px;
    background: #ff7c6b;
}

.players {
    display: grid;
    width: 400px;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    justify-items: center;
    margin: 20px auto;
}

.time {
    margin: 40px auto;
    text-align: center;
    font-size: 30px;
}

h2 {
    text-align: center;
}

a {
    text-align: center;
    border-radius: 5px;
    border: 1px solid gray;
    padding: 5px;
    margin: 10px auto;
    width: 200px;
    font-size: 30px;
    font-weight: bold;
    height: 40px;
    align-self: start;
    background: white;
    color: gray;
}

a:active {
    background: gray;
    color: white;
}

.ready-button, status {
    display: inline;
}

.bot {
    margin: 40px auto;
    border: 1px solid;
    width: 50%;
    border-radius: 10px;
    padding: 15px;
    visibility: hidden;
    font-size: 25px;
}